<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user.nickname %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %>

<%= form_for @new_comment, html: { class: 'new-topic-comment' } do |f| %>
  <%= f.hidden_field :topic_id %>
  <%= f.text_field :body %><%= f.submit %>
<% end %>

<ul class="topic-comments">
  <%= render partial: "topics/comment", collection: @topic.comments.select(&:persisted?) %>
</ul>

<%= link_to 'Back', topics_path %>
